---
layout: home
---

<div class="centered-flex-container flex-column">
    <div class="content-wrapper">
        <h2 class="accent-font uppercase text-center small-margin">Portfolio</h2>
        <div class="centered-grid-container">
            <!-- Assign an ID to each button to be able to select it in JavaScript -->
            {% for category in site.data.settings.portfolio-categories%}
                <button onclick="filterByCategory(this.id)" id="{{category}}" class="portfolio-buttons">{{category}}</button>
            {% endfor %}
        </div>
        <section class="centered-grid-container portfolio">
            <!-- Assign ID to each potfolio item to be able to select it in JavaScript -->
            {% assign id = 0 %}
            {% for item in site.data.portfolio %}
            {% assign id = id | plus:1 %}
            <a  href="{{item.path}}"
                id = "{{id}}"
                class="centered-flex-container card {% for size in item.size %} card-{{size}} {% endfor %} glightbox"
                style="background-image:url('{{item.path}}')">
                <div>
                    <div class="card-info">
                        <p class="card-title">{{item.title}}</p>
                        <!-- {% if item.description %}
                        <p class="card-description">{{item.description}}</p>
                        {% endif %} -->
                    </div>
                </div>
            </a>
            {% endfor %}
        </section>
    </div>
</div>
