<header>
    <nav class="navbar">
        <ul class="navbar-nav lowercase">
            <li class="accent-font bold" style="font-size: 1.5rem; line-height:1.2">
                <a href="{{ site.baseurl }}/">
                    maria<br>pavlou
                </a>
            </li>
            {% for navitem in site.data.navigation %}
            <li class="nav-item accent-font bold">
                <a href="{{navitem.link}}">{{navitem.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>