<header>
    <nav class="navbar">
        <ul class="navbar-nav lowercase">
            <li>
                <a href="{{ site.baseurl }}/">
                    <img class="site-logo" src="/assets/img/logo.svg" alt="not your sin logo">
                </a>
            </li>
            {% for navitem in site.data.navigation %}
            <li class="nav-item accent-font bold">
                <a href="{{navitem.link}}">{{navitem.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>