<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/blobz.min.css">
    <link rel="stylesheet" href="assets/css/glightbox.min.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/assets/fonts/kare/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet"> 
    
    <!-- Favicons -->
    {% include favicon.html %}

    {% feed_meta %}
    {% seo %}

    <!-- KUTE library -->
    <!-- <script defer src="/assets/js/kute.min.js"></script> -->

    <script defer src="/assets/js/main.js"></script>
    
</head>