@import "parts/base";


/* Positioning, layouts, centering etc */

.content-wrapper{
    width: clamp(360px, 75%, 100rem);
    align-content: center;

    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

.content-wrapper-thin{
    width: clamp(360px, 40%, 80rem);
    align-content: center;

    margin-top: 3.5rem;
    margin-bottom: 2rem;

}

// Use this class whenever you want to have a single something inside centered
.centered-flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container{
    display: flex;
}

.centered-grid-container{
    display:grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:1.25rem;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.small-margin{
    margin:1rem;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position:absolute;
}



/* Font sizes, families and transforms */

.hero-font{
	font-family: var(--hero-font);
}

.hero-size{
	font-size: 5rem;

    @media screen and (max-width: 600px) {
        font-size: 3.5rem;
    }
}

.accent-font{
    font-family: var(--accent-font);
    line-height: 1.35em;
    letter-spacing: 0.1em;
}

.bold{
    font-weight: 700;
}

.lowercase{
    text-transform: lowercase;
}

.uppercase{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}



/* Colors */

.bg-color{
    color: var(--background-color);
}

.bg-color-bg{
    background-color: var(--background-color);
}

.primary-color{
    color: var(--primary-color);
}

.primary-color-bg{
    background-color: var(--primary-color);
}

.accent-color{
    color: var(--accent-color);
}

.accent-color-bg{
    background-color: var(--accent-color);
}



@import "parts/typography";
@import "parts/portfolio";
@import "parts/navbar";
@import "parts/hero-section";
@import "parts/footer";
@import "parts/post-grid";
@import "parts/waves";
@import "parts/post";
@import "parts/about";

