// Body resets
//
// Update the foundational and global aspects of the page.

* {
    box-sizing: border-box;
}

:root{
    
    --font-size: 16px;

    //Font variables
    --plain-font: 'DM Sans','Open Sans', sans-serif;
    --hero-font: 'Kare', sans-serif;
    --accent-font: 'Josefin Sans', sans-serif;

    // Color variables 
    --background-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 7%);
    --primary-color: hsl(48, 100%, 67%);
    --secondary-color: hsl(24, 100%, 50%);
    --accent-color: hsl(336, 100%, 50%);

    --gray-1: #f9f9f9;
    --gray-2: #e5e5e5;
    --gray-3: #ccc;
    --gray-4: #767676;
    --gray-5: #515151;
    --gray-6: #313131;


    --button-color: var(--background-color);
    --border-color: var(--text-color);
    --link-color: var(--accent-color);

    //Timing variables
    --transition-normal: 350ms;
    --transition-fast: 200ms;


    //Spacing Variables
    --heading-spacing: 0.5rem;
    --border-radius: 300px;     //just something large so it's nice and smooth
    --padding-v: 1em;
    --padding-h: 1.5em;

    //Box shadows, pain :) 
    --box-shadow-size: 2px;
    --box-shadow-blur: 7px;
    --box-shadow-opacity: 0.25;
    --default-box-shadow: 
        calc(var(--box-shadow-size)/2)
        var(--box-shadow-size) 
        var(--box-shadow-blur) 
        rgba(0, 0, 0, var(--box-shadow-opacity));

    --box-shadow-size-hover: 1px;
    --box-shadow-blur-hover: 7px;
    --default-box-shadow-hover:
        calc(var(--box-shadow-size-hover)/2)
        var(--box-shadow-size-hover) 
        var(--box-shadow-blur-hover) 
        rgba(0, 0, 0, var(--box-shadow-opacity));


    // Media query variables
    // CSS VARIABLES DONT WORK IN MEDIA QUERYS. 
    // YOU COULD USE SASS VARIABLES.



    font-size: var(--font-size);
    font-family: var(--plain-font);
    line-height: 1.5em;
    letter-spacing: 0.05em;
    
    
    scroll-behavior: smooth;
    
}

:root,
body{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;  // so that footer stickt on bottom!
    display: flex;
    flex-direction: column;

    background: var(--background-color);
    color: var(--text-color);

    text-size-adjust: 100%;
}
  
main,
article,
section {
  display: block;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: all var(--transition-normal);


  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: var(--link-color);
    transition: all var(--transition-fast) ease;
  }

  strong {
    color: inherit;
  }
}

img {
  border-radius: 5px;
  display: block;
  height: auto; // prevent max-width from squishing images with defined height
  margin: 0 0 1rem;
  max-width: 100%;
}

table {
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  font-size: 85%;
  margin-bottom: 1rem;
  width: 100%;
}

td,
th {
  border: 1px solid var(--border-color);
  padding: 0.25rem 0.5rem;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--gray-1);
}

// button,
// input[type='text'],
// input[type='email'],
// input[type='search'],
// input[type='submit'] {
//   border: 1px solid var(--border-color);
//   border-radius: var(--border-radius);
//   padding: var(--padding-v) var(--padding-h);
// }

// button,
// input[type='submit'] {
//   background: transparent;
//   border-color: var(--border-color);
//   color: var(--link-color);
//   cursor: pointer;
//   transition:
//     color 0.6s ease-in-out,
//     border-color 0.6s ease-in-out,
//     background 0.6s ease-in-out;

//   &:hover {
//     background: var(--link-color);
//     border-color: var(--link-color);
//     box-shadow: var(--default-box-shadow);
//     color: #fff;
//   }
// }

button{
    border-style: none;
    border-radius: var(--border-radius);
    padding: var(--padding-v) var(--padding-h);
    color: var(--text-color);
    font-family: var(--accent-font);
    font-size: var(--font-size);
    background: var(--button-color);

    box-shadow: var(--default-box-shadow);

    transition: all var(--transition-fast);


    &:hover,
    &:focus,
    &:target{
        background: var(--accent-color);


        transition: all var(--transition-normal) ease;
    }
}