.footer{
    position: relative;
    margin-top: auto;   // so that footer stickt on bottom!
    
    height: 100px;
    width: 100%;


    // To center the footer text in Y-axis.
    p{
        position: absolute;
        top:55%; 
    }
}

@media screen and (max-width: 600px) {
    .footer{
        // prevent copytight text from taking second line
        font-size: 0.7rem;

        p{
            // push the copyright further down because the wave curve changes
            position: absolute;
            top:65%; 
        }
    }
}