.navbar{
    // height: 70px;
    width: 100%;
    background: var(--primary-color);
    color: var(--text-color);
}

.navbar-nav{
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end; 
    
    
    li{
        margin: 2rem 3rem 2rem 3rem; //top right bottom left
    }
    //It is the first LIST element that must me set to auto! NOT
    //the first element in the navbar
    li:first-child{
        margin-right: auto;
    }
    
    height: 100%;

    font-size: 1.2rem;
    list-style-type: none; //remove default list styling

}

.site-logo{
    // margin-top: 1.5rem;
    width: 5rem;
    height: 5rem;
}